{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Password Change{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12 col-xs-12 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h1 class="text-center">با موفقیت انجام شد!</h1>
            <h3 class="text-center">عزیز رمزعبور شما با موفقیت آپدیت شد{{ user.username }}.</h3>
            <a class="d-flex justify-content-center mt-10 text-decoration-none" href="{% url 'book_list' %}">
                <button class="btn btn-success mt-3" type="submit">بازگشت به خانه</button>
            </a>
        </div>
    </div>
{% endblock %}
