{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Successful{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-9 col-lg-10 col-md-10 col-sm-12 col-xs-12 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h1 class="text-center">ایمیل با موفقیت ارسال شد!</h1>
            <h4 class="text-center"> با کلیک بر روی لینکی که برایتان ارسال کرده ایم به صفحه بازیابی رمز هدایت میشوید.</h4>
        </div>
    </div>
{% endblock %}