{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}set new password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h2 class="d-flex justify-content-center">بازیابی رمزعبور</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between align-items-center">
                </div>
                <button type="submit" class="btn btn-success mt-3 w-100">ثبت</button>
            </form>
        </div>
    </div>
{% endblock %}