{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Signup{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h1 class="d-flex justify-content-center">ثبت نام</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3 w-100">ثبت نام</button>
                <div class="line-with-middle-sep">
                  <span>
                    یا
                  </span>
                </div>
                <a href="{% url 'login' %}" class="btn btn-primary mt-2 mb-3 w-100">ورود</a>
            </form>
        </div>
    </div>
{% endblock %}