{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}افزودن کتاب{% endblock %}

{% block content %}

    <div class="container mt-4" dir="rtl">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3">
                    <h5 class="card-header text-light px-5 container-fluid"
                        style="background-image: linear-gradient(to right, #4a00e0, #0052d4);">فرم</h5>
                    <div class="px-5 pt-3 pb-5">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success mt-2">ذخیره</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-3 shadow ">
                    <h5 class="card-header  text-light container-fluid"
                        style="background-image: linear-gradient(to right, #8e2de2, #4a00e0);"">راهنما</h5>
                    <div class="card-body">
                        <p class="card-text">
                            اطلاعات کتاب را در فرم این صفحه وارد کنید و سپس بر روی ذخیره کلیک کنید.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}